$n: 16;

body {
  margin: 0;
}

#grid {
  position: relative;
  margin: 0 auto;
  width: 100vh;
  height: 100vh;
  background: #f9f9f9;
}

.sprite {
  width: calc(100% / #{$n});
  height: calc(100% / #{$n});
  background-color: green;
  position: absolute;
  
  &[data-direction='NONE'] {
    animation: PAUSE 150ms linear infinite;
  }
  &[data-direction='RIGHT'] {
    animation: RIGHT 150ms linear infinite;
  }
  &[data-direction='LEFT'] {
    animation: LEFT 150ms linear infinite;
  }
  &[data-direction='UP'] {
    animation: UP 150ms linear infinite;
  }
  &[data-direction='DOWN'] {
    animation: DOWN 150ms linear infinite;
  }
}

.apple {
  background: red;
  border-radius: 50%;


  &[data-direction='NONE'] {
    animation: none;
  }
}

@for $i from 0 to $n {
  [data-x='#{$i}'] { left: calc(#{$i} * 100% / #{$n}); }
  [data-y='#{$i}'] { top: calc(#{$i} * 100% / #{$n}); }
}


@keyframes PAUSE {
  0% { background: green; }
  50% { background: lightgreen; }
  100% { background: green; }
}
@keyframes RIGHT {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(100vh / #{$n})); }
}
@keyframes LEFT {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-100vh / #{$n})); }
}
@keyframes UP {
  0% { transform: translateX(0); }
  100% { transform: translateY(calc(-100vh / #{$n})); }
}
@keyframes DOWN {
  0% { transform: translateX(0); }
  100% { transform: translateY(calc(100vh / #{$n})); }
}
