$n: 16;
$d: 200ms;
$w: 100vw;

body {
  margin: 0;
}

main {
  position: relative;
  margin: 0 auto;
  width: #{$w};
  height: #{$w};
  background: #f9f9f9;

  p {
    width: calc(100% / #{$n});
    height: calc(100% / #{$n});
    position: absolute;
    visibility: hidden;
    background-color: rgba(0,0,0,0.2);
  }

  &[data-pts^='0'] { .a, .b, .c, .d, .e, .f { visibility: visible; } }
  &[data-pts^='1'] { .b, .c { visibility: visible; } }
  &[data-pts^='2'] { .a, .b, .g, .e, .d { visibility: visible; } }
  &[data-pts^='3'] { .a, .b, .g, .c, .d { visibility: visible; } }
  &[data-pts^='4'] { .f, .g, .b, .c { visibility: visible; } }
  &[data-pts^='5'] { .a, .f, .g, .c, .d { visibility: visible; } }
  &[data-pts^='6'] { .a, .f, .g, .e, .d, .c { visibility: visible; } }
  &[data-pts^='7'] { .a, .b, .c { visibility: visible; } }
  &[data-pts^='8'] { p { visibility: visible; } }
  &[data-pts^='9'] { .g, .f, .a, .b, .c, .d { visibility: visible; } }

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      width: calc(100% / #{$n});
      height: calc(100% / #{$n});
      background-color: green;
      position: absolute;
      
      &[data-d='IDLE'] {
        animation: IDLE #{$d} linear infinite;
      }
      &[data-d='RIGHT'] {
        animation: RIGHT #{$d} linear infinite;
      }
      &[data-d='LEFT'] {
        animation: LEFT #{$d} linear infinite;
      }
      &[data-d='UP'] {
        animation: UP #{$d} linear infinite;
      }
      &[data-d='DOWN'] {
        animation: DOWN #{$d} linear infinite;
      }
    }
  }
  
  div, button {
    width: calc(100% / #{$n});
    height: calc(100% / #{$n});
    position: absolute;
    border-radius: 50%;
  }

  div {
      background: red;
    }
  button {
      background: #aaa;
    }
} 


@for $i from 0 to $n {
  [data-x='#{$i}'] { left: calc(#{$i} * 100% / #{$n}); }
  [data-y='#{$i}'] { top: calc(#{$i} * 100% / #{$n}); }
}

@keyframes IDLE {
  0% { background: green; }
  50% { background: lightgreen; }
  100% { background: green; }
}
@keyframes RIGHT {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(#{$w} / #{$n})); }
}
@keyframes LEFT {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-#{$w} / #{$n})); }
}
@keyframes UP {
  0% { transform: translateX(0); }
  100% { transform: translateY(calc(-#{$w} / #{$n})); }
}
@keyframes DOWN {
  0% { transform: translateX(0); }
  100% { transform: translateY(calc(#{$w} / #{$n})); }
}


@media screen and (min-width: 600px) {
  $w: 600px;
  main {
    width: #{$w};
    height: #{$w};
  }

  @keyframes RIGHT {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(#{$w} / #{$n})); }
  }
  @keyframes LEFT {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-#{$w} / #{$n})); }
  }
  @keyframes UP {
    0% { transform: translateX(0); }
    100% { transform: translateY(calc(-#{$w} / #{$n})); }
  }
  @keyframes DOWN {
    0% { transform: translateX(0); }
    100% { transform: translateY(calc(#{$w} / #{$n})); }
  }
}
