body {
  margin: 0; }

main {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  height: 100vw;
  background: #f9f9f9; }
  main p {
    width: calc(100% / 16);
    height: calc(100% / 16);
    position: absolute;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.2); }
  main[data-pts^='0'] .a, main[data-pts^='0'] .b, main[data-pts^='0'] .c, main[data-pts^='0'] .d, main[data-pts^='0'] .e, main[data-pts^='0'] .f {
    visibility: visible; }
  main[data-pts^='1'] .b, main[data-pts^='1'] .c {
    visibility: visible; }
  main[data-pts^='2'] .a, main[data-pts^='2'] .b, main[data-pts^='2'] .g, main[data-pts^='2'] .e, main[data-pts^='2'] .d {
    visibility: visible; }
  main[data-pts^='3'] .a, main[data-pts^='3'] .b, main[data-pts^='3'] .g, main[data-pts^='3'] .c, main[data-pts^='3'] .d {
    visibility: visible; }
  main[data-pts^='4'] .f, main[data-pts^='4'] .g, main[data-pts^='4'] .b, main[data-pts^='4'] .c {
    visibility: visible; }
  main[data-pts^='5'] .a, main[data-pts^='5'] .f, main[data-pts^='5'] .g, main[data-pts^='5'] .c, main[data-pts^='5'] .d {
    visibility: visible; }
  main[data-pts^='6'] .a, main[data-pts^='6'] .f, main[data-pts^='6'] .g, main[data-pts^='6'] .e, main[data-pts^='6'] .d, main[data-pts^='6'] .c {
    visibility: visible; }
  main[data-pts^='7'] .a, main[data-pts^='7'] .b, main[data-pts^='7'] .c {
    visibility: visible; }
  main[data-pts^='8'] p {
    visibility: visible; }
  main[data-pts^='9'] .g, main[data-pts^='9'] .f, main[data-pts^='9'] .a, main[data-pts^='9'] .b, main[data-pts^='9'] .c, main[data-pts^='9'] .d {
    visibility: visible; }
  main ol {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    main ol li {
      width: calc(100% / 16);
      height: calc(100% / 16);
      background-color: green;
      position: absolute; }
      main ol li[data-d='IDLE'] {
        animation: IDLE 200ms linear infinite; }
      main ol li[data-d='RIGHT'] {
        animation: RIGHT 200ms linear infinite; }
      main ol li[data-d='LEFT'] {
        animation: LEFT 200ms linear infinite; }
      main ol li[data-d='UP'] {
        animation: UP 200ms linear infinite; }
      main ol li[data-d='DOWN'] {
        animation: DOWN 200ms linear infinite; }
  main div, main button {
    width: calc(100% / 16);
    height: calc(100% / 16);
    position: absolute;
    border-radius: 50%; }
  main div {
    background: red; }
  main button {
    background: #aaa; }

[data-x='0'] {
  left: calc(0 * 100% / 16); }

[data-y='0'] {
  top: calc(0 * 100% / 16); }

[data-x='1'] {
  left: calc(1 * 100% / 16); }

[data-y='1'] {
  top: calc(1 * 100% / 16); }

[data-x='2'] {
  left: calc(2 * 100% / 16); }

[data-y='2'] {
  top: calc(2 * 100% / 16); }

[data-x='3'] {
  left: calc(3 * 100% / 16); }

[data-y='3'] {
  top: calc(3 * 100% / 16); }

[data-x='4'] {
  left: calc(4 * 100% / 16); }

[data-y='4'] {
  top: calc(4 * 100% / 16); }

[data-x='5'] {
  left: calc(5 * 100% / 16); }

[data-y='5'] {
  top: calc(5 * 100% / 16); }

[data-x='6'] {
  left: calc(6 * 100% / 16); }

[data-y='6'] {
  top: calc(6 * 100% / 16); }

[data-x='7'] {
  left: calc(7 * 100% / 16); }

[data-y='7'] {
  top: calc(7 * 100% / 16); }

[data-x='8'] {
  left: calc(8 * 100% / 16); }

[data-y='8'] {
  top: calc(8 * 100% / 16); }

[data-x='9'] {
  left: calc(9 * 100% / 16); }

[data-y='9'] {
  top: calc(9 * 100% / 16); }

[data-x='10'] {
  left: calc(10 * 100% / 16); }

[data-y='10'] {
  top: calc(10 * 100% / 16); }

[data-x='11'] {
  left: calc(11 * 100% / 16); }

[data-y='11'] {
  top: calc(11 * 100% / 16); }

[data-x='12'] {
  left: calc(12 * 100% / 16); }

[data-y='12'] {
  top: calc(12 * 100% / 16); }

[data-x='13'] {
  left: calc(13 * 100% / 16); }

[data-y='13'] {
  top: calc(13 * 100% / 16); }

[data-x='14'] {
  left: calc(14 * 100% / 16); }

[data-y='14'] {
  top: calc(14 * 100% / 16); }

[data-x='15'] {
  left: calc(15 * 100% / 16); }

[data-y='15'] {
  top: calc(15 * 100% / 16); }

@keyframes IDLE {
  0% {
    background: green; }
  50% {
    background: lightgreen; }
  100% {
    background: green; } }
@keyframes RIGHT {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(100vw / 16)); } }
@keyframes LEFT {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-100vw / 16)); } }
@keyframes UP {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateY(calc(-100vw / 16)); } }
@keyframes DOWN {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateY(calc(100vw / 16)); } }
@media screen and (min-width: 600px) {
  main {
    width: 600px;
    height: 600px; }

  @keyframes RIGHT {
    0% {
      transform: translateX(0); }
    100% {
      transform: translateX(calc(600px / 16)); } }
  @keyframes LEFT {
    0% {
      transform: translateX(0); }
    100% {
      transform: translateX(calc(-600px / 16)); } }
  @keyframes UP {
    0% {
      transform: translateX(0); }
    100% {
      transform: translateY(calc(-600px / 16)); } }
  @keyframes DOWN {
    0% {
      transform: translateX(0); }
    100% {
      transform: translateY(calc(600px / 16)); } } }

/*# sourceMappingURL=style.css.map */
